{% load static %}
  <!-- footer starts -->
  <div class="row">
    <div class="col-md-4">
        <h5>Address</h5>
        <hr>
        2nd floor,Real Tech Park<br>
        Near Railway Station<br>
        Sector -9,Vashi<br>
        <p><i class="bi bi-telephone text-danger"></i> 8989898989</p>
        <p><i class="bi bi-envelope text-danger"></i> abc@gmail.com</p>

    </div>
    <div class="col-md-4">
        <h5>Quick Links</h5>
        <hr>
        <p><a class="anchor" href="/home">Home</a></p>
        <p><a class="anchor" href="/contact">Contact</a></p>
        <p><a class="anchor" href="/about">About Us</a></p>
    </div>
    <div class="col-md-4">
        <h5>Contact Us</h5>
        <hr>
        <h5><a href="https://www.facebook.com/"><i class="bi bi-facebook text-danger"></i></a></h5>
        <h5><a href="https://www.twitter.com/"><i class="bi bi-twitter text-danger"></i></a></h5>
        <h5><a href="https://www.instagram.com/"><i class="bi bi-instagram text-danger"></i></a></h5>
        <h5><a href="https://www.linkedin.com/"><i class="bi bi-linkedin text-danger"></i></a></h5>
    </div>
   </div>
   
</div>

</div>

</div>
</body>
</html>
<!-- footer ends -->