{% extends 'base.html' %}
{% load static %}

{% block 'main' %}
 <!-- main section start -->
 <div class="row mt-3">
    <div class="col-md-4">
        <h5>Filter By category</h5>
        <hr>
        <p><a class="anchor" href="/catfilter/1">By Mobile</a></p>
        <p><a class="anchor" href="/catfilter/2">By Clothes</a></p>
        <p><a class="anchor" href="/catfilter/3">By Shoes</a></p>

        <h5>Filter By Price Range</h5>
        <hr>
        <form method="POST" action="/range" >
          {% csrf_token %}
            <div class="mb-3">
              <label for="Input1" class="form-label">Min Value</label>
              <input type="number" name="min" class="form-control" id="Input1" placeholder="Enter Min Value">
             
            </div>
            <div class="mb-3">
                <label for="Input2" class="form-label">Max Value</label>
                <input type="number" name="min" class="form-control" id="Input2" placeholder="Enter Max Value">
               
              </div>
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
        <h5>Sorted By Price</h5>
        <hr>
        <p><a href="/sort/0" class="anchor">Low To High</a></p>
        <p><a href="/sort/1" class="anchor">High To Low </a></p>

    </div>
  

    <div class="col-md-8">
        <h5>Products</h5>
        <hr>
        <div class="row">
          {% for x in products %}
          <div class="col-md-4">
                 <!-- Product 1  -->
                 <div class="card" style="width: 100%">
                    <img src="{{x.pimage.url}}" width="100%" height="250px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{x.name}}</h5>
                      <p class="card-text">{{x.price}}</p> 
                      {% if x.cat == 1 %}       
                      <p class="card-text">Mobile</p>  
                      {% elif x.cat == 2 %}                                   
                      <p class="card-text">Shoes</p>  
                      {% else %}
                      <p class="card-text">Clothes</p>  
                      {% endif %}
                       <a href="/pdetails/{{x.id}}" class="btn btn-danger">See Details</a>
                    </div>
                  </div>

            </div>
            {% endfor %}
            
          </div>
                 
          </div>
       
           
      </div>
        
    
    
    <!-- products ends -->
 </div>
</div>
<!-- filter ends -->
<!-- main section end -->

{% endblock %}