{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
 <!-- main  section starts -->
 <div class="row mt-5">
    {% for x in products %}
    <div class="col-md-6">
        <img src="{{x.pimage.url}}" width="50%">
    </div>
    <div class="col-md-6">
        <p><strong>Product Name</strong>&nbsp;&nbsp; {{x.name}}</p>
        <p><strong>Price</strong>&nbsp;&nbsp; Rs. {{x.price}}</p>
        {% if x.cat == 1 %}       
                      <p class="card-text">Mobile</p>  
                      {% elif x.cat == 2 %}                                   
                      <p class="card-text">Shoes</p>  
                      {% else %}
                      <p class="card-text">Clothes</p>  
                      {% endif %}
        <p><strong>Product Description</strong>&nbsp;&nbsp; {{x.pdetails}}</p>
        <a href="/addtocart/{{x.id}}"><button class="btn btn-danger">Add to Cart</button></a>
        <a href="/viewcart"><button class="btn btn-danger">View Cart</button></a>
        <a href="/home"><button class="btn btn-danger">Shop More</button></a>
        <br>
        {% if success %}
        <div class="alert alert-success">
            {{success}}
        </div>
        {% endif %}
        {% if msg %}
        <div class="alert alert-danger">
            {{msg}}
        </div>
        {% endif %}
      </div>
      {% endfor %}
</div>

<!-- main section ends  -->
{% endblock %}